/* =========================
   VARIABLES
========================= */

:root {
  --color-bg: #f6f2ef;
  --color-text: #000000;

  --font-ui: "Inter", sans-serif;
  --font-title: "Playfair Display", serif;
}


/* =========================
   RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* =========================
   BASE
========================= */

body {
  font-family: var(--font-ui);
  background: var(--color-bg);
  color: var(--color-text);
}


/* =========================
   TITULOS
========================= */

h1,
.add-btn,
.filters button,
.calendar-box h2,
.statistics h2 {
  font-family: var(--font-title) !important;
  letter-spacing: 2px;
}

.calendar-box h2,
.statistics h2 {
  text-align: center;
  letter-spacing: 3px;
  font-weight: 500;
  margin-bottom: 15px;
}



/* =========================
   CALENDARIO
========================= */

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  text-align: center;
}

.day-name {
  font-weight: bold;
}

.day {
  padding: 6px;
  border-radius: 6px;
}

.day.has-task {
  background: black;
  color: white;
}

.day:hover {
  background: rgba(0,0,0,0.1);
  cursor: pointer;
}


/* =========================
   BUSCADOR
========================= */

.search-btn svg {
  width: 18px;
  height: 18px;
  pointer-events: none;
}


/* =========================
   TAREAS
========================= */

.task-text {
  display: flex;
  flex-direction: column;
}

.task-meta {
  font-size: 12px;
  color: #555;
  display: flex;
  gap: 10px;
}

.task.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}


/* =========================
   CHECKBOX PERSONALIZADO
========================= */

.task input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.custom-checkbox.checked {
  background: black;
  color: white;
}

.custom-checkbox.checked::after {
  content: "✓";
  font-size: 12px;
}


/* =========================
   MODAL
========================= */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}


/* =========================
   UTILIDADES
========================= */

.hidden {
  display: none;
}


/* =========================
   OCULTAR BARRA
========================= */

#filtersBar::-webkit-scrollbar {
  display: none;
}

#filtersBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}





